p{
    margin: 8px;
    font-size: 18px;
}

.footer{
    font-size: 12px;
}

h3{
    font-size: 30px;
}
img{
    padding: 8px;
}
h1{
    font-family: Georgia;
    color: rebeccapurple;
}

#notes{
    font-size: 14px;
}

body{
    background-color: rgb(87, 243, 230);
}

article{
    width: 1100px;
    box-shadow: 5px 5px 10px grey;
    border-color: gray;
    background-color: white;
}